$header-color: red;
$size: 300px; 

.header {
    color: $header-color;
    display: block;
    width: 100%;
    text-align: center;
}

.container {
    max-width: 1080px;
    min-width: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin: 0 auto;
    flex-wrap: wrap;
}

.image-container {
    display: flex;
    flex-direction: column;
    width: $size;
    margin: 10px 20px 10px 20px;
}

.image {
    display: block;
    width: 100%;
}

.discription {
    margin-top: 20px;
    text-align: center;
}